.button {
  margin: 10px 0 0 80px;
}

.quote {
  color: #fff;
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 0 0 80px;
  line-height: 1.7;
  position: relative;
}

.quote:before {
  position: absolute;
  line-height: 1;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 4em;
  z-index: 1;
  font-family: Droid Serif,georgia,serif;
  pointer-events: none;
  content: "\201C ";
  color: #fff;
  left: 2rem;
  opacity: 0.5;
  top: 0;
  -webkit-transform: translate3d(0,-20%,0);
  transform: translate3d(0,-20%,0);
}

.quote p {
  font-size: 2rem /* 32/16 */;
  line-height: 1.1;
}

.quote small:before {
  content: '⏤ '
}

.site-footer {
  width: 100%;
  text-align: right;
  background-color: transparent;
  z-index: 10;
  padding: 20px;
}

.site-footer small {
  display: block;
}

.site-footer small,
.site-footer address,
.site-footer a {
  color: #fff;
  font-size: 12px;
  margin: 0;
}

.site-footer a {
  opacity: 0.9;
  text-decoration: underline;
}

.message-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 979px) {
  .site-footer {
    margin-bottom: 20px;
  }
}
